{% extends 'base.html' %}
{% block main %}
<div class="body-content">
    <div class="index-menu">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.id.label }} <br> {{ form.id(size=15) }}</p>
            <p>{{ form.passwd.label }} <br> {{ form.passwd(size=30) }}</p>
            <p>{{ form.passwd_confirm.label }} <br> {{ form.passwd_confirm(size=30) }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}